[Unit]
Description=scheduler-celery
After=network.target

[Service]
User=www-data
Restart=on-failure
WorkingDirectory=/var/www/scheduler
ExecStart=/usr/local/bin/celery worker -A web.celery --workdir /var/www/scheduler --logfile /tmp/scheduler_celery.log --concurrency=10 -Q scheduler

[Install]
WantedBy=multi-user.target
