[Unit]
Description=scheduler
After=network.target

[Service]
User=www-data
Restart=on-failure
WorkingDirectory=/var/www/scheduler/
ExecStart=/usr/local/bin/gunicorn -c /var/www/scheduler/gunicorn.conf web:app

[Install]
WantedBy=multi-user.target

