<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Scheduler</title>
		<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			 <div class="header clearfix">
				<nav>
					<ul class="nav nav-pills pull-right">
						{% if is_logged_in() %}
						<li role="presentation"><a href="{{ url_for('home') }}">TV Schedule</a></li>
						<li role="presentation"><a href="{{ url_for('shows') }}">TV Shows</a></li>
						<li role="presentation"><a href="{{ url_for('movies') }}">Movies</a></li>
						<li role="presentation"><a href="{{ url_for('logout') }}">Logout</a></li>
						{% endif %}
					</ul>
				</nav>
				<h3 class="text-muted">Scheduler</h3>
			</div>

			<div class="row">
				<div id="loader" class="hidden"></div> 
				<div id="flash_div">
					{% for category, message in get_flashed_messages(with_categories=true) %}
						<div class="alert alert-{{ category }} alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>{{ message }}</div>
					{% endfor %}
				</div>
				{% block content %}
				{% endblock %}
			</div>

			<footer class="footer">
				<p>&copy; 2017 Zach Lang</p>
			</footer>
		</div>

		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

		<script>
			$(document).ajaxStart(function() {
				$('#loader').removeClass('hidden');
			});

			$(document).ajaxStop(function() {
				$('#loader').addClass('hidden');
			});

			function escapeHTML(str) {
				var escapes = {
					'&': '&amp;',
					'<': '&lt;',
					'>': '&gt;',
					'"': '&quot;',
					"'": '&#x27;'
				};
				return ('' + str).replace(/[&<>"']/g, function(match) {
					return escapes[match];
				});
			}

			function handle_internal_error() {
				show_flash('Internal error occurred.', 'danger');
			}

			function show_flash(message, flash_class) {
				if ($('.modal.in').length) elem = $('#modal_flash_div');
				else elem = $('#flash_div');
				elem.empty();
				elem.html('<div class="alert alert-'+flash_class+' alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>'+message+'</div>');
			}
		</script>

		{% block script %}
		{% endblock %}
	</body>
</html>
