{% extends 'base.html' %}

{% block content %}
<div class="heading col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<h4>
		Schedule
	</h4>
</div>

{% if outstanding %}
	<h4>Outstanding</h4>
	{% for e in episodes if e.in_past %}
	<div class="show col-xs-12 col-sm-12 col-md-6 col-lg-6" data-episodeid="{{ e.id }}">
		<div class="inner-show well col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<img class="poster img-responsive col-xs-2 col-sm-2 col-md-2 col-lg-2" src="{{ e.poster }}" alt="Poster for {{ e.show_name }}">
			<div class="show-content col-xs-10 col-sm-10 col-md-10 col-lg-10">
				<h5>{{ e.show_name }}</h5>
				<h6>{{ e.name }}</h6>
				<a class="btn btn-success btn-block"><span class="glyphicon glyphicon-ok"></span> Watched</a>
			</div>
		</div>
	</div>
	{% endfor %}
{% endif %}

{% for d in dates %}
	<h4>{{ d }}</h4>
	{% for e in episodes if e.airdate_str == d %}
	<div class="show col-xs-12 col-sm-12 col-md-6 col-lg-6" data-episodeid="{{ e.id }}">
		<div class="inner-show well col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<img class="poster img-responsive col-xs-2 col-sm-2 col-md-2 col-lg-2" src="{{ e.poster }}" alt="Poster for {{ e.show_name }}">
			<div class="show-content col-xs-10 col-sm-10 col-md-10 col-lg-10">
				<h5>{{ e.show_name }}</h5>
				<h6>{{ e.name }}</h6>
				<a class="btn btn-success btn-block"><span class="glyphicon glyphicon-ok"></span> Watched</a>
			</div>
		</div>
	</div>
	{% endfor %}
{% endfor %}

{% endblock %}