
TVDB_APIKEY = '1234567890ABCDEF'
TVDB_USERKEY = '1234567890ABCDEF'
TVDB_USERNAME = 'user.name'

DBHOST = 'localhost'
DBPORT = '5432'
DBNAME = 'tvschedule'
DBUSER = 'postgres'
DBPASS = 'password'

TO_EMAIL = 'admin@email.com'
FROM_EMAIL = 'no-reply@email.com'

SECRETKEY = 'ictackCaugyotnatboovUst$wrekHalvOcafBiuvIpIcikbueGibKeybryes'
